.App{
  /* border: 1px solid blue; */
  width: 317px;
  /* padding-bottom: 2rem; */
  margin: 0 auto;
  background-color: #1A1B21;
  margin-block: .5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

*,::before,::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}