.img{
    width: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.p{
    font-size: .8rem;
    color: #F3BF99;
}

.website{
    font-size: .7rem;
    text-decoration: none;
    color: #F5F5F5;
     display: flex;
     justify-content: center;
     align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    place-items: center;
     
}

 